/*Selectores */
h1{
    /*Atributos*/
    color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*Vakores*/
}

h2{
    color: #de3a19;
}

#second h1{
    color: green;
}

.container{
    border: 10px black solid;
    margin: 10px;
    padding: 10px;

}

body{
    margin: 0;
}