body {
    margin: 0;
    height: 100vh;
    background-color: darkmagenta;
} 

.grid-container{
    margin: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "header header"; 
    grid-auto-rows: minmax(150px, 1fr);
    gap: 10px;
}

.grid-item{
    padding: 10px;
    border: 4px white solid;
    background-color: rgb(93, 230, 230);
}

.grid-item-1{
    grid-row: auto;
    grid-column: auto;
    background-color: sandybrown;
}

.grid-item-2{
    grid-row: auto;
    grid-column: auto;
    background-color: orangered;
}

.grid-item-3{
    grid-row: auto;
    grid-column: auto;
    background-color: blueviolet;
}

.grid-item-4{
    grid-row: auto;
    grid-column: auto;
    background-color: orange;
}

.grid-intainer{
    margin: 10px;
    height: 95%; /* **** */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "header header"; 
    grid-auto-rows: minmax(150px, 1fr);
    gap: 10px;
}

.intainer{
    padding: 10px;
    border: 1px whitesmoke;
    background-color: rgb(93, 230, 230);
}

.intainer-1{
    grid-area: header;
    background-color: red;
}

.intainer-2{
    background-color: orchid;
}

.intainer-3{
    background-color: yellow;
}