.container{
    display: flex;
    flex-direction: row;
}

div{
    padding: 10px;
}

p{
    text-align: justify; /*Se justifican todos los párrafos de la página*/
}

.box{
    margin: 10px;
    display: flex;
}

#seccion1{
    justify-content: space-around; /* *** */
    background-color: darkslategray;
    align-items: center;   /*Alinea todos los elementos de la seccion 1 en el mismo renglón*/
    height: 50px;
    color: white;
    font: 1em "Fira Sans", sans-serif;
}

#seccion2{
    background-color: CC6600;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 50px;
    height: 200px;
    color: white;
    font: 1.2em "Fira Sans", sans-serif;
}

#seccion2 p{
    max-width: 1000px;
}

#title{
    width: 50px;
}

#seccion3{
    background-color: darkslategray;
    align-items: baseline;
    justify-content: space-around; /* **No queda exactamente al del ejemplo */
    color: white;
    font: 1em "Fira Sans", sans-serif;
}

#seccion4{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#html{
    display: flex; /* Se vuelve a aplicar flex, ya que no aplican a elementos dentro de elementos. */
    flex-direction: column;
    align-items: center;
    width: 500px;
}

#css{
    display: flex; /* Se vuelve a aplicar flex, ya que no aplican a elementos dentro de elementos. */
    flex-direction: column;
    align-items: center;
    width: 500px;
}

#javascript{
    display: flex; /* Se vuelve a aplicar flex, ya que no aplican a elementos dentro de elementos. */
    flex-direction: column;
    align-items: center;
    width: 500px;
}

#text{
    text-align: center;
}

#seccion5{
    background-color: darkslategray;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: white;
    font: .8em "Fira Sans", sans-serif;
}

